<configuration>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>

<!--All assemblies in AutoCAD are fully trusted so there's no point generating publisher evidence-->
   <runtime>        
	<generatePublisherEvidence enabled="false"/>    
   </runtime>
   <system.diagnostics>
    <sources>                                                                                                                                                                                      
      <source name="System.Windows.Data"               
              switchName="SourceSwitch">
        <listeners>
          <remove name="Default" />
        </listeners>
      </source>
      <source name="System.Windows.Media.Animation"              
              switchName="SourceSwitch">
        <listeners>
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
